.account-main {
    background-color: var(--bg-offblack);
    height: 100%;
}

.account-container {
    margin: auto;
    max-width: 1200px;
    padding: 60px 0px 60px 0px;
}

.account-orders-container {
    padding: 0px 20px 60px 20px;
}

.account-title {
    font-family: 'visby-heavy';
    color: white;
    font-size: 48px;
    margin-bottom: 70px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-logout {
    font-size: 20px;
    color: var(--brand-blue);
    font-family: 'visby-heavy';
    margin-right: 20px;
}

.account-logout:hover {
    color: #ffffff;
}


.account-order-block {
    display: flex;
    background-color: var(--bg-darkblack);
    justify-content: space-around;
    align-items: center;
    font-family: 'visby-regular';
    border-radius: var(--cornertwnty);
    margin-bottom: 30px;
    color: white;
    padding: 20px;
    gap: 1rem;
}

.order,
.account-total-text,
.account-order-total {
    font-family: 'visby-demi';
    font-size: 28px;
    text-align: center;

}

.account-order-total {
    color: var(--brand-blue);
}

.account-divider {
    width: 4px;
    height: 80px;
    background-color: #323232;

}

.account-qty {
    font-family: 'visby-heavy';
    color: var(--brand-blue);
    padding: 10px;
    font-size: 22px;
}

.account-list {
    font-family: 'visby-demi';
    color: white;
    font-size: 22px;
    padding: 10px;
}

.account-order {
    color: var(--brand-blue);
}

.account-reorder {
    color: var(--brand-blue);
    font-family: 'visby-heavy';
    font-size: 24px;
    cursor: pointer;
}

.account-reorder:hover {
    color: white;
}

@media screen and (max-width: 720px) {
    .account-order-block {
        display: block;
    }

    .account-divider {
        height: 4px;
        width: 80%;
        margin: 20px auto 20px auto;
    }

    .account-container {
        padding: 40px 0px 40px 0px;
    }

    .account-reorder {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .account-title {
        margin-bottom: 20px;
        padding-left: 20px;
        font-size: 38px;
    }
    .account-logout {
        font-size: 20px;
        color: var(--brand-blue);
        font-family: 'visby-heavy';
        padding-left: 20px;
        text-align: right;
    }
}