@font-face {
  font-family: 'visby-regular';
  src: url('../assets/VisbyRoundCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visby-demi';
  src: url('../assets/VisbyRoundCF-DemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visby-demi-ob';
  src: url('../assets/VisbyRoundCF-DemiBoldOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visby-heavy';
  src: url('../assets/VisbyRoundCF-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visby-heavy-ob';
  src: url('../assets/VisbyRoundCF-HeavyOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visby-extrabold';
  src: url('../assets/VisbyRoundCF-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
  height: 100%;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  font-family: 'visby-demi';
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 48px;
  font-family: 'visby-demi';
  text-align: center;
}

/*  links decoration - get rid of the undereline for links ---*/
a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

/* ---variables---*/
:root {
  --bg-size: cover;
  --brand-blue: #14cdf7;
  --bg-offblack: #272727;
  --bg-darkblack: #161616;
  --cornerten: 10px;
  --cornertwnty: 20px;
}

.btn-lrg {
  font-family: 'visby-heavy';
  font-size: 22px;
  border-radius: var(--cornertwnty);
  line-height: 60px;
  padding-left: 44px;
  padding-right: 44px;
  border: none;
  min-width: 310px;
  text-transform: uppercase;
}

.btn-small {
  font-family: 'visby-heavy';
    font-size: 22px;
    border-radius: var(--cornertwnty);
    line-height: 60px;
    width: 100%;
    border: none;
}

.btn-white {
  background-color: white;
  color: var(--bg-darkblack);
}

.btn-black {
  background-color: var(--bg-darkblack);
  color: white;
}

.btn-blue {
  background-color: var(--brand-blue);
  color: white;
}