.flavors-main {
  background-color: var(--bg-offblack);
  display: flex;
  padding-top: 100px;
}

.flavors-container {
  padding-bottom: 73px;
  width: 85%;

}

.flavors-title {
  text-align: center;
}

.flavors-title h1 {
  color: white;
  font-family: 'visby-heavy';
  padding-bottom: 14px;
  line-height: 54px;
  margin-left: 17%;
}

.flavors-span {
  font-family: 'visby-demi';
  font-size: 28px;
  color: var(--brand-blue);
  margin-left: 17%;
}

.donut-flavor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 40px;
}

.flavors-card img {
  border-radius: 20px 20px 0px 0px;
}

.flavors-info {
  display: flex;
  background-color: var(--bg-darkblack);
  border-radius: 0px 0px 20px 20px;
  color: white;
  font-family: 'visby-regular';
  font-size: 20px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flavors-cart {
  padding: 16px;
  background-color: var(--brand-blue);
  color: white;
  border-radius: var(--cornertwnty);
}

.flavors-cart:hover {
  background-color: white;
  color: black;
}

/* ---- Cart section ---- */

.cart-sidebar {
  width: 15%;
}

.cart-container {
  background-color: var(--bg-darkblack);
  border-radius: var(--cornertwnty);

  border-radius: 20px 0px 0px 0px;
}

.cart-title {
  padding: 30px;
}

.cart-btitle {
  color: white;
  font-family: 'visby-heavy';
  font-size: 24px;
  text-align: center;
}

.cart-line {
  width: 100%;
  border-bottom: 3px solid var(--brand-blue);
  margin-bottom: 20px;
  margin-top: 20px;
}

.cart-product-empty {
  background-color: #3c3b3b;
  min-height: 100px;
  border-radius: var(--cornerten);
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.cart-product-empty img {
  width: 30px;
}

.cart-info {
  display: flex;
  background-color: white;
  border-radius: 0px 0px 0px 20px;
  padding: 20px;
}

.cart-btn:hover {
  background-color: black;

}