/*  links decoration - get rid of the undereline for links ---*/
a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(235, 235, 235);
}


nav {
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: white;
    filter: drop-shadow(0px 3px 9px rgba(0, 0, 0, 0.25));
}

nav ul {
    text-align: center;
    margin: auto;
    height: 75px;
}

nav div {
    position: absolute;
    right: 0px;
    height: 75px;
    display: flex;
    align-items: center;
}

.header-logo {
    max-width: 136px;
    margin-bottom: -20px;
    margin-top: 60px;
}

.mobile-logo {
    display: none;
}

/* ----nav list to the right side of page */
.header nav {
    text-align: center;
    font-size: 18px;
    font-family: 'visby-extrabold';
}

.header ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 880px;
    justify-content: space-between;
}

.navlink:visited {
    color: black;
}

.navlink:hover {
    color: var(--brand-blue);
}


.loginlink {
    color: var(--brand-blue);
    margin-right: 20px;
}

.loginlink:hover {
    color: black;
}

/* ---- navigation list ---- */

li {
    list-style-type: none;

}

.nav-btn {
    background-color: white;
    border: 2px solid var(--bg-darkblack);
    border-radius: var(--cornerten);
    line-height: 32px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: var(--brand-blue);
    color: white;
    border: 2px solid var(--brand-blue);
}

.nav-cart {
    background-color: var(--brand-blue);
    border: 0px solid var(--brand-blue);
    color: white;
    width: 80px;
    height: 75px;
}

.nav-cart:hover {
    background-color: var(--bg-darkblack);
}

/*--- Mobile queries ---*/
@media screen and (max-width: 1230px) {

    .header ul {
        width: 730px;
    }
}

@media screen and (max-width: 1080px) {
    nav {
        height: 60px;
    }

    .header ul {
        display: none;
    }

    nav div {
        display: none;
    }

    .mobile-logo {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 140px;
    }

}

/* --- mobile nav --- */
