/* --- Hero section --- */

.heropic {
    display: flex;
    background-color: white;
}

.hero-left {
    width: 50%;
    background-image: url(../assets/sprinkles.png);
    background-size: contain;
    background-position: left 0px top -10px;
    background-repeat: no-repeat;
}

.hero-right {
    width: 50%;
    background-image: url(../assets/hero-gc.jpg);
    background-size: cover;
    background-position: center center;
}

.hero-shape {
    background-image: url(../assets/hero-shape.png);
    background-size: 30% 105%;
    background-position: left center;
    height: 100%;
    background-repeat: no-repeat;
}

.hero-label {
    margin-left: 27%;
    margin-right: -100px;
    z-index: 5;
    position: relative;
    padding-bottom: 130px;
}

.hero-label h1 {
    font-size: 83px;
    font-family: 'visby-heavy';
    margin-top: 16vh;
    line-height: 76px;
    text-align: left;

}

.hero-label p {
    font-family: 'visby-regular';
    font-size: 32px;
    margin-top: 45px;
}

.hero-label button:hover {
    cursor: pointer;
    background-color: var(--brand-blue);
    color: white;
}

/* --- Flavor of the week section --- */

.new-flavor {
    background-image: url(../assets/swirl-dark-bk.svg);
    background-color: var(--bg-darkblack);
    background-size: cover 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.new-flavor h1 {
    padding-top: 100px;
    margin-bottom: 50px;
    color: white;
}

.new-flavor-pic {
    max-width: 672px;
    border-radius: var(--cornerten);
}

.new-flavor-box {
    display: flex;
    max-width: 1240px;
    margin: auto;
    padding-bottom: 154px;
}

.new-flavor-info {
    padding-left: 60px;
}

.new-flavor-box h2 {
    text-align: left;
    color: white;
    font-family: 'visby-demi';
    margin-bottom: 16px;
    font-size: 72px;
    line-height: 76px;
}

.new-flavor-p {
    font-size: 18px;
    font-family: 'visby-regular';
    color: white;
    text-align: left;
    margin-bottom: 68px;
    line-height: 26px;
}

.new-flavor button:hover {
    cursor: pointer;
    background-color: var(--brand-blue);
    color: white;
}

/* ---- Our story section ---- */

.our-story {
    background-image: url(../assets/about-bk.jpg);
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 220px;
}

.story-block {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 74px;
    padding-left: 118px;
    padding-right: 118px;
    border-radius: var(--cornertwnty);
}

.story-swirl {
    max-width: 56px;
    margin: auto;
}

span {
    font-family: 'visby-heavy-ob';
    color: var(--brand-blue);
}

.story-p {
    font-family: 'visby-regular';
    font-size: 22px;
    text-align: left;
    margin-bottom: 58px;
    margin-top: 58px;
    line-height: 32px;
}

/* --- Contact Us --- */


.map {
    background-image: url(../assets/portlandmap.jpg);
    margin: auto;
    background-size: cover;
}

.contact-us {
    background-color: var(--bg-darkblack);
    background-size: cover;
    background-position: center;
    padding-top: 96px;
    padding-bottom: 118px;
}

.contact-box {
    background-color: #231f20f6;
    max-width: 800px;
    margin-left: 10%;
    padding-top: 62px;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 64px;
}

.contact-box h2 {
    color: white;
    margin: 0px;
}
.contact-line {
    width: 100%;
    border-bottom: 4px solid #454545;
    padding-bottom: 38px;
}

.contact-input input,textarea {
    width: 100%;
    color: white;
    background-color: #231f2000;
    border: none;
    border-bottom: 4px solid var(--brand-blue);
    padding: 10px;
    padding-top: 35px;
    font-size: 28px;
    font-family: 'visby-regular' ;
    margin-bottom: 32px;
 }

.contact-btn {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer; margin-left: 0px;
    margin-bottom: 76px;
}

.contact-btn:hover {
    background-color: white;
    color: black;
}

.contact-box p {
    font-family: 'visby-demi';
    color: white;
    font-size: 26px;
}